[submodule "DirectoryScanner"]
	path = DirectoryScanner
	url = https://github.com/swisspol/DirectoryScanner.git
[submodule "InAppStore"]
	path = InAppStore
	url = https://github.com/swisspol/InAppStore.git
[submodule "MixpanelTracker"]
	path = MixpanelTracker
	url = https://github.com/swisspol/MixpanelTracker.git
[submodule "XLFacility"]
	path = XLFacility
	url = https://github.com/swisspol/XLFacility.git
